In [1]:
import pandas as pd
import numpy as np
from skimage.io import imread, imshow
from skimage.transform import resize
import matplotlib.pyplot as plt
import pywt
import pywt.data
import copy
from sklearn.cluster import KMeans
import glob

In [8]:
train_path = "dataset/sign_mnist_train.csv"
test_path = "dataset/sign_mnist_test.csv"
df_train = pd.read_csv(train_path)
df_test = pd.read_csv(test_path)
# TRAIN
y_train = np.array(df_train.iloc[:,0])
X_train = np.array(df_train.iloc[:, 1:])
# TEST
y_test = np.array(df_test.iloc[:, 0])
X_test = np.array(df_test.iloc[:, 1:])

In [9]:
def Haar(imagen, cortes):
  for i in range(cortes):
    imagen, (LH, HL, HH) = pywt.dwt2(imagen, 'haar') 
  return imagen

def vectorizar(matrix):
  return matrix.flatten()

In [10]:
def resizeFoto(matrix):
    List = []
    for row in matrix:
        row_size = row.reshape(28, 28)
        foto = Haar(row_size, 1)
        vector = foto.flatten()
        List.append(vector)
    return np.array(List)

In [11]:
X = resizeFoto(X_train)

In [12]:
train = pd.DataFrame(np.concatenate((y_train.reshape(-1, 1), X), axis= 1))
train.to_csv("train_14_by_14.csv", index=False)
train.head()

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,196
0,3.0,228.5,262.5,283.5,297.5,310.0,320.5,331.0,298.0,340.0,...,229.5,163.5,156.5,360.5,412.5,413.5,413.5,411.0,409.5,405.0
1,6.0,314.5,315.0,316.5,317.0,317.5,316.5,311.5,307.0,302.5,...,314.0,366.0,254.5,228.5,197.5,247.5,245.0,238.5,254.0,249.5
2,2.0,376.0,376.0,375.0,375.5,374.5,371.0,370.5,363.5,363.0,...,155.5,241.0,382.0,412.0,407.0,403.5,399.5,397.0,392.0,388.0
3,2.0,423.5,427.0,422.5,423.0,422.0,418.0,416.0,409.5,404.0,...,36.0,25.5,375.5,478.5,481.0,466.5,461.5,454.0,445.5,414.0
4,13.0,333.0,344.0,356.0,365.5,372.0,379.0,380.0,382.0,378.0,...,335.0,277.0,287.5,219.5,164.0,201.0,231.5,279.5,308.5,339.0

In [13]:
X_t = resizeFoto(X_test)
test = pd.DataFrame(np.concatenate((y_test.reshape(-1,1),X_t), axis = 1))
test.to_csv("test_14_by_14.csv", index=False)
test.head()

,0,1,2,3,4,5,6,7,8,9,...,187,188,189,190,191,192,193,194,195,196
0,6.0,299.0,301.0,302.0,302.5,303.5,304.5,305.5,307.0,305.0,...,309.5,290.5,291.5,289.0,257.0,288.5,214.0,184.0,217.5,228.0
1,5.0,257.5,266.0,269.5,274.0,276.5,278.0,280.5,280.0,268.0,...,361.5,316.5,233.5,175.0,202.5,144.0,352.0,368.5,368.0,362.5
2,10.0,173.5,188.5,230.5,280.0,301.0,323.0,341.5,361.5,346.0,...,201.5,388.5,345.0,343.5,275.5,237.0,467.5,456.0,451.0,446.0
3,0.0,411.0,415.0,417.0,420.0,419.5,417.0,419.0,417.5,421.5,...,400.0,361.0,308.0,282.5,155.5,318.5,494.0,497.0,476.0,495.0
4,3.0,381.5,390.5,401.0,407.5,410.0,409.5,409.5,402.5,429.5,...,159.0,204.5,229.5,188.0,113.0,71.5,104.0,83.5,94.0,101.5